<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="filesDirectory" value="D:\dev\cedt\cedt.Files\"/>
    <add key="segmentsFileName" value="segments.json"/>
    <add key="coordinatesFileName" value="coordinates.kml"/>
    <add key="templateFileName" value="template.kml"/>
  </appSettings>
</configuration>